.bubble {
    border-radius: 50%;
    position: absolute;
}

.smallBubble {
    width: 20px;
    height: 20px;
    background-color: #7ADD20;
}

.mediumBubble {
    width: 30px;
    height: 30px;
    background-color: #7ADD20;
}

.largeBubble {
    width: 40px;
    height: 40px;
    background-color: #7ADD20;
}

.buttons-container {
    display: flex;
    flex-direction: column;
}

.button {
    cursor: pointer;
    background-color: #bf0a53;
    color: #fff;
    padding: 10px;
    min-width: 120px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 7px;
    margin: 20px 7px;
}

.button:hover,
.button:active,
.button:focus {
	background-color: #88ce02;
}

.title {
    color: #7ADD20;
}

