.modal.giphy {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: block;
}

.title.giphy {
    font-size: 30px;
    color: black;
}

.modal-main.giphy {
    color: black;
    position: fixed;
    background: rgb(241, 176, 54);
    width: fit-content;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
}

.modal-main.giphy img {
    max-height: 500px;
}

.close.giphy {
    font-size: 18px;
    margin: 20px 0;
    border: 0px;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    color: black;
    position: absolute;
    width: 40px;
    right: 0;
    top: -20px;
    height: 40px;
    font-weight: bold;
}

button.giphy:hover {
    color: #406dd6;
}